<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="container mt-3">
  <main>

    <div class="row g-5">
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Alta cliente</h4>
        <!-- <form class="needs-validation" novalidate> -->
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">Nombre:</label>
              <input type="text" [(ngModel)]="nombre" class="form-control" id="nombre" placeholder="" required>
            </div>

            <div class="col-12">
              <div class="col-sm-6">
                <label for="lastName" class="form-label">CIF:</label>
                <input type="text" [(ngModel)]="cif" class="form-control" id="cif" placeholder="" required>
              </div>
              <div class="col-sm-6 mt-3">
                <label for="lastName" class="form-label">Dirección:</label>
                <input type="text" [(ngModel)]="direccion" class="form-control" id="direccion" placeholder="" required>
              </div>
            </div>

            <div class="col-md-5">
              <label for="country" class="form-label">Grupo</label>
              <input type="number" [(ngModel)]="grupo" value="0" id="form6Example4" class="form-control" />
            </div>
          </div>
          <button class="w-20 btn btn-primary btn-lg mt-3" (click)="save_client()">Guardar</button>
          <!-- <button class="w-20 btn btn-primary btn-lg mt-3" (click)="addclient()" type="submit">Guardar</button> -->
        <!-- </form> -->
      </div>
    </div>
  </main>

</div>

<router-outlet></router-outlet>

<app-listado-clientes [array]="array_cliente"></app-listado-clientes>

